textarea {
  height: 520px;
  width: 300px;
}

div#code_view {
  padding: 20px;
}

div#code_view table,th {
  border: 1px black solid;
}

div#code_view tr, td {
  padding: 0
}

div#code_view pre {
  margin: 0;
  height: 13px;
}

div#code_view pre.highlight {
  font-weight: bold;
  background-color: #4E4
}